@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --brand-1: #6f00ff;
    --brand-2: #8629ff;
    --gray-1: #15171A;
    --gray-2: #212529;
    --gray-3: #2b2F33;
    --gray-4: #CED4DA;
    --gray-5: #DEE2E6;
    --gray-6: #F1F3F5;
    --gray-7: #F8F9FA;
    --gray-8: #FDFEFF;
}