@import url(./globalStyles.css);
@import url(./reset.css);
@import url(./header.css);
@import url(./genres.css);
@import url(./price-range.css);
@import url(./albums.css);

.body{
    font-family: "Inter", sans-serif;
    background-color: var(--gray-8);
    max-width: 1024px;
    margin: auto;
}

.body--dark-mode{
    background-color: var(--gray-1);
}

main{
    padding-top: 150px;
}